/* =====================================
   MISSION 2
   جامد، مایع و تغییر حالت
===================================== */


/* =====================================
   محیط مأموریت دوم
===================================== */

#mission2Area{

    position:absolute;

    inset:0;

    width:100%;
    height:100%;

    display:none;

    user-select:none;

    cursor:grab;

    z-index:600;

}


/* =====================================
   دکمه ورود به مأموریت دوم
===================================== */

#mission2Button{

    display:none;

    position:absolute;

    left:50%;
    bottom:25px;

    transform:translateX(-50%);

    width:250px;
    height:60px;

    border:none;
    border-radius:18px;

    background:#4CAF50;
    color:#000;

    font-size:24px;
    font-weight:bold;

    cursor:pointer;

    transition:.25s;

    z-index:3000;

}

#mission2Button:hover{

    background:#43A047;

    transform:
    translateX(-50%)
    scale(1.05);

}


/* =====================================
   پنجره معرفی مأموریت
===================================== */

#mission2Intro{

    display:none;

    position:absolute;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);

    width:400px;

    padding:20px;

    background:#ffffff;

    border:5px solid #00A8C6;

    border-radius:28px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.30);

    z-index:5000;

}


/* تصویر پروفسور */

#mission2Professor{

    width:100px;

    margin-bottom:15px;

}


/* عنوان */

#mission2Intro h2{

    color:#00A8C6;

    font-size:30px;

    margin-bottom:18px;

}


/* متن */

#mission2Text{

    font-size:23px;

    line-height:2;

    color:#333;

    margin-bottom:28px;

}


/* دکمه شروع */

#startMission2{

    width:160px;
    height:40px;

    border:none;

    border-radius:18px;

    background:#4CAF50;

    color:white;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

    transition:.2s;

}

#startMission2:hover{

    background:#43A047;

    transform:scale(1.05);

}
/* =====================================
   وسایل مأموریت دوم
===================================== */

/* تمام تصاویر مأموریت */

#mission2Area img{

    position:absolute;

    display:none;

    user-select:none;
}


/* =====================================
   قطعه یخ
===================================== */

#iceCube{

    width:200px;

    cursor:grab;

    pointer-events:auto;

    z-index:6003;

}


/* =====================================
   منبع گرما
===================================== */

#heatSource{

    width:200px;

    left:48%;

    top:50%;

    transform:translate(-50%,-50%);

}


/* =====================================
   منبع سرما
===================================== */

#coldSource{

    width:180px;

    left:520px;

    top:290px;

    z-index:2000;

}


/* =====================================
   قطره آب
===================================== */

#waterDrop{

    width:180px;

    left:70%;

    top:40%;

    transform:translate(-50%,-50%);

}


/* =====================================
   شکلات جامد
===================================== */

#solidChocolate{

    width:220px;

    left:70%;

    top:55%;

    transform:translate(-50%,-50%);

    z-index:2500;

}


/* =====================================
   شکلات ذوب شده
===================================== */

#meltedChocolate{

    width:220px;

    left:70%;

    top:55%;

    transform:translate(-50%,-50%);

    z-index:2500;

}


/* =====================================
   دکمه گرم کردن شکلات
===================================== */

#heatChocolateButton{

    display:none;

    position:absolute;

    left:50%;

    bottom:80px;

    transform:translateX(-50%);

    width:280px;

    height:60px;

    border:none;

    border-radius:20px;

    background:#ef4444;

    color:white;

    font-size:24px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;

    z-index:4000;

}

#heatChocolateButton:hover{

    transform:
    translateX(-50%)
    scale(1.05);

}


/* =====================================
   دکمه سرد کردن
===================================== */

#coldButton{

    display:none;

    position:absolute;

    left:520px;

    top:470px;

    width:220px;

    height:60px;

    border:none;

    border-radius:18px;

    background:#D6F3FF;

    color:#222;

    font-size:22px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;

    z-index:4000;

}

#coldButton:hover{

    transform:scale(1.05);

}
/* =====================================
   پنجره پیش‌بینی
===================================== */

#predictionBox{

    display:none;

    position:absolute;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);

    width:300px;

    background:#ffffff;

    border:5px solid #3B82F6;

    border-radius:28px;

    padding:20px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.30);

    z-index:6000;

}


/* عنوان */

#predictionBox h2{

    color:#2563EB;

    font-size:30px;

    margin-bottom:20px;

}


/* متن */

#predictionBox p{

    font-size:22px;

    line-height:2;

    color:#444;

    margin-bottom:25px;

}


/* گزینه‌ها */

#predictionBox label{

    display:block;

    width:100%;

    margin:12px 0;

    padding:10px;

    border:2px solid #D7E6FF;

    border-radius:16px;

    background:#F8FBFF;

    font-size:20px;

    cursor:pointer;

    transition:.25s;

}

#predictionBox label:hover{

    background:#EAF3FF;

    border-color:#5B8CFF;

}


/* رادیوباتن */

#predictionBox input[type="radio"]{

    transform:scale(1.4);

    margin-left:12px;

}


/* دکمه ثبت */

#predictionButton{

    margin-top:28px;

    width:140px;

    height:40px;

    border:none;

    border-radius:18px;

    background:#22C55E;

    color:white;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;

}

#predictionButton:hover{

    background:#16A34A;

    transform:scale(1.05);

}



/* =====================================
   پنجره پایان مأموریت
===================================== */

#missionCompleteWindow{

    display:none;

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.45);

    z-index:7000;

}



/* کادر اصلی */

#missionCompleteBox{

    position:absolute;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);

    width:540px;

    background:white;

    border:5px solid #22C55E;

    border-radius:28px;

    padding:35px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.35);

}



/* عنوان */

#missionCompleteBox h2{

    color:#22C55E;

    font-size:36px;

    margin-bottom:20px;

}



/* متن */

#missionCompleteText{

    font-size:24px;

    line-height:2;

    color:#444;

}



/* دکمه مأموریت سوم */

#startMission3Button{

    margin-top:30px;

    width:260px;

    height:60px;

    border:none;

    border-radius:18px;

    background:#4CAF50;

    color:white;

    font-size:24px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;

}

#startMission3Button:hover{

    background:#43A047;

    transform:scale(1.05);

}
/* =====================================
   انیمیشن ذوب شدن یخ
===================================== */

@keyframes meltIce{

    0%{

        transform:scale(1);

        opacity:1;

    }

    40%{

        transform:scale(.9,.85);

        opacity:.9;

    }

    70%{

        transform:scale(.7,.55);

        opacity:.5;

    }

    100%{

        transform:scale(.4,.2);

        opacity:0;

    }

}


/* =====================================
   ظاهر شدن آب
===================================== */

@keyframes waterAppear{

    0%{

        opacity:0;

        transform:
        translate(-50%,-40%)
        scale(.5);

    }

    60%{

        opacity:1;

        transform:
        translate(-50%,-55%)
        scale(1.08);

    }

    100%{

        opacity:1;

        transform:
        translate(-50%,-50%)
        scale(1);

    }

}
